// Font family
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap')

// Variables
padding-l = 40px
teal = #4FBFBF

// Global Styles
.max-w
  max-width 1200px
  margin 0 auto
  padding-right padding-l
  padding-left @padding-right

body
  font-family: 'Alata', sans-serif
